<nav>
    <div class="nav-wrapper">
        <!-- <a href="#!" class="brand-logo">Arcos Social</a> -->
        <a [routerLink]="['/main/helps']" class="brand-logo ml-1"><img src="assets/AscosSocial_Clean_White.svg" /></a>
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a [routerLink]="['/main/helps']"><i class="material-icons left">local_offer</i>Ayudas</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/main/beneficiaries']"><i class="material-icons left">people</i>Beneficiarios</a></li>
            <li *ngIf="isAdmin" routerLinkActive="active"><a [routerLink]="['/main/users']"><i class="material-icons left">security</i>Usuarios</a></li>
            <li *ngIf="isAdmin" routerLinkActive="active"><a [routerLink]="['/main/settings']"><i class="material-icons left">settings</i>Gestión</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/main/profile']"><i class="material-icons left">assignment_ind</i>{{userName  | titlecase}}</a></li>
            <li routerLinkActive="active"><a class="waves-effect waves-light btn-small" (click)="logout()">SALIR</a></li>
        </ul>
    </div>
</nav>