<app-loading [isLoading]="(mainState.state | async)?.loading"></app-loading>

<header>
    <app-navigation [userName]="(mainState.state | async)?.user?.fullName" [isAdmin]="(mainState.state | async)?.user?.isAdmin"></app-navigation>
    <div class="row" *ngIf="isUATEnvironment()">
        <div class="col s12">
            <div class="card blue darken-3 white-text">
                <div class="card-content"><strong>NOTA:</strong> Estás en el entorno de pruebas de Arcos Social</div>
            </div>
        </div>
    </div>    
</header>
<main>
    <div class="container-fluid">

        <router-outlet></router-outlet>
        
    </div>
</main>
<footer class="page-footer">
    <app-footer></app-footer>
</footer>
